/* selektor znacznika */
p{
	color: rebeccapurple;
	text-align: center;
	margin-top: 100px;
	margin-left: 120px;
	margin-right: 120px;
	font-size: 30px;
	font-family: 'Indie Flower', cursive;
}

#paragraf{
	color:darkcyan;
	font-size: 20px;
	font-family: 'Pacifico', cursive;
	margin-top: 25px;
	border: solid yellow;
	margin-left: 120px;
	margin-right: 120px;
}

.klasa{
	color:darkmagenta;
	margin-left: 120px;
	margin-right: 120px;
	font-size: 20px;
	font-family: 'Gloria Hallelujah', cursive;
	margin-top: 50px;
	border: dotted #00FA9A;
	
}
.klasa2{
	color:#ADFF2F;
	margin-left: 120px;
	margin-right: 120px;
	font-size: 20px;
	font-family: 'Shadows Into Light', cursive;
	margin-top: 50px;
	border: dotted red;
}

body{
	background-color: darkgray;
	
}

a,span,div{
	color:white;
	font-size: 20px;
	margin-left: 120px;
	margin-right: 120px;
	border: outset black;
	font-family: 'Architects Daughter', cursive;
	margin-top: 10px;
	
}
/* Selektor bezpośredniego elementu potomnego */
li>a{
	color:red;
	border: none;
	font-family: 'Lobster Two', cursive;
}