/* selektor znacznika */
p{
	color: rebeccapurple;
	text-align: center;
	margin-top: 100px;
	margin-left: 120px;
	margin-right: 120px;
	font-size: 30px;
	font-family: 'Indie Flower', cursive;
}
#paragraf{
	color:darkcyan;
	font-size: 20px;
	font-family: 'Pacifico', cursive;
	margin-top: 25px;
	border: solid yellow;
	margin-left: 120px;
	margin-right: 120px;
}
.klasa{
	color:darkmagenta;
	margin-left: 120px;
	margin-right: 120px;
	font-size: 20px;
	font-family: 'Gloria Hallelujah', cursive;
	margin-top: 50px;
	border: dotted #00FA9A;
	
}
.klasa2{
	color:#ADFF2F;
	margin-left: 120px;
	margin-right: 120px;
	font-size: 20px;
	font-family: 'Shadows Into Light', cursive;
	margin-top: 50px;
	border: dotted red;
}
body{
	background-color: darkgray;
	
}
a,span,div{
	color:white;
	font-size: 20px;
	font-family: 'Architects Daughter', cursive;
	
	
}
/* Selektor bezpośredniego elementu potomnego */
li>a{
	color:red;
	font-family: 'Lobster Two', cursive;
	font-size: 15px;
	
}
/*selektor elementów potomnych */
div a{
	color: blueviolet;
	font-size: 15px;
	font-family: 'Indie Flower', cursive;
	
}
/* Selektor bliskiego rodzeństwa*/
h2 + h3{
	color: chartreuse;
	font-size: 20px;
}
/* Selektor rodzeństwa*/
h4 ~ p{
	color: chocolate;
	
}
/* Selektor wykluczający */
ul > li:not(.last) {
	color:firebrick;
}
/* Selektor kolejnego elementu potomnego można dodać formułe aby zmieniało kolor co któryś (an+b)*/
ul > ol:nth-child(2) {
	color:darkmagenta;
}
/* An+B
	gdzie:
A - dowolna liczba
B - dowolna liczba
n - licznik od 0

even/odd
	enen - parzyste
	odd - nieparzyste */

